body {
    background: #415488;
    margin: 0;
}

.Centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#WelcomingLabel {
    color: white;
    font-size: 32px;
}

img {
    padding: 10px;
    border-radius: 15px;
    outline-color: white;
    outline-width: 2px;
}

#infoDiv {
    background-color: #000000a6;
    color: whitesmoke;
    width: 80%;
    min-height: 100px;
    padding: 30px 10px 50px 50px;
}

.SingleLine {
    display: block;
    padding-bottom: 5px;
}

#VideoTest {
    margin-top: 20px;
    background-color: #000000a6;
    color: whitesmoke;
}

.signup-form {
    margin-top: 20px;
}