body {
    background: #415488;
    margin: 0;
}

.Centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#WelcomingLabel {
    color: white;
    font-size: 32px;
}

img {
    padding: 10px;
    border-radius: 15px;
    outline-color: white;
    outline-width: 2px;
}

/* Div for video embed testing */
#VideoTest {
    margin-top: 20px;
    background-color: #000000a6;
    color: whitesmoke;
}

#infoDiv {
    background-color: #000000a6;
    color: whitesmoke;
    width: 100%;
    min-height: 100px;
}

.SingleLine {
    display: block;
    padding-bottom: 5px;
}

.signup-form {
    display: inline-block;
}

#introText {
    display: inline-block;
    position: relative;
    width: calc(100% - 340px);
    padding-top: 10%;
    height: 100%;
    margin-bottom: auto;
    text-align: center;
    vertical-align: top;
}

.parallax-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../Images/wine_vinorama_wine_bottle_cellar_red_wine_wines_storage_wine_rack-1077047.jpeg');
}